apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: monitoring
  labels:
    app: grafana
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        uid: prometheus
        url: http://prometheus.monitoring.svc:9090
        access: proxy
        isDefault: true
        editable: false
      - name: Loki
        type: loki
        uid: loki
        url: http://loki.monitoring.svc:3100
        access: proxy
        isDefault: false
        editable: false
      - name: Alertmanager
        type: alertmanager
        uid: alertmanager
        url: http://alertmanager.monitoring.svc:9093
        access: proxy
        isDefault: false
        editable: false
        jsonData:
          implementation: prometheus
