apiVersion: v1
kind: Service
metadata:
  name: mattermost-minio
  namespace: mattermost
spec:
  type: ClusterIP
  selector:
    app: mattermost-minio
  ports:
    - name: s3
      port: 9000
      targetPort: 9000
      protocol: TCP
    - name: console
      port: 9001
      targetPort: 9001
      protocol: TCP
