apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - secret.yaml
  - configmap.yaml
  - configmap-auth-redirect.yaml
  - deployment.yaml
  - service.yaml
  - gateway.yaml
  - httproute.yaml
