apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - backend/deployment.yaml
  - backend/service.yaml
  - backend/configmap.yaml
  - backend/secret.yaml
  - backend/serviceaccount.yaml
  - frontend/deployment.yaml
  - frontend/service.yaml
  - frontend/configmap.yaml
  - gateway.yaml
  - httproute.yaml
