{
  "grafana": "CHANGEME_GRAFANA_OIDC_SECRET",
  "argocd": "CHANGEME_ARGOCD_OIDC_SECRET",
  "harbor": "CHANGEME_HARBOR_OIDC_SECRET",
  "vault": "CHANGEME_VAULT_OIDC_SECRET",
  "mattermost": "CHANGEME_MATTERMOST_OIDC_SECRET",
  "kasm": "CHANGEME_KASM_OIDC_SECRET",
  "gitlab": "CHANGEME_GITLAB_OIDC_SECRET"
}
